swagger: '2.0'
info:
  description: Instant Payments External Calls from IPM Module - Contract Definition
  version: '1.0'
  title: Bank Instant Payments REST/Webhooks API
  termsOfService: Terms of service
  contact:
    name: Contact Name
    url: 'http://examplebank.com'
    email: mail@examplebank.com
  license:
    name: License of API
    url: 'https://www.examplebank.com/'
host: 'examplebank.com'
basePath: /
tags:
  - name: instantpayments
    description: Service to validate Creditor Account and notify IPM Client about Instant Payment Details/Status.
paths:
  /instantpayments/validate/:
    post:
      tags:
        - instantpayments
      summary: Sepa Instant Payments Validation Service
      description: |-
        Endpoint that will be used to validate SEPA instant payments Creditor Account is valid and Creditor Bank can credit the account with payment amount. 
        Creditor Bank can define its own security header and value. Instant Payments Module will add the header and value to every request sent towards the Creditor Bank.
      operationId: PostValidatePaymentsUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: paymentsRequest
          required: true
          description: Details of SEPA Instant Payment to be validated.
          schema:
            $ref: '#/definitions/paymentDetailsObject'
        - in: header
          name: X-Signature
          required: false
          type: string
          description: Signature of payload signed with Shared Secret.
      responses:
        '200':
          description: Account successfully validated.
        '400':
          description: Account is invalid.
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: Server could not process the request.
definitions:
  paymentDetailsObject:
    type: object
    required:
      - iban
    properties:
      iban:
        type: string
        pattern: '[a-zA-Z]{2}[0-9]{2}[a-zA-Z0-9]{1,30}'
        description: The Creditor account IBAN.
      bic:
        type: string
        pattern: '[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{0,3})?'
        description: The Creditor account BIC.
      paymentCurrency:
        type: string
        description: ISO Currency code.
        default: EUR
  ErrorResponse:
    type: object
    description: Error Response Object
    properties:
      returnCode:
        type: string
        description: |-
          Error Code
      
          Return Code | Return Description 
          ---------|----------
          AC01   | Incorrect Account Number
          AC04   | Closed Account Number
          AC06   | Blocked Account
          RC01   | Bank Identifier Incorrect  
          AG01   | Transaction Forbidden 
          MD07   | End Customer Deceased  
          MS03   | Not Specified Reason Agent Generated
          AG02   | Invalid Bank Operation Code
          MS02   | Not Specified Reason Customer Generated
          RR04   | Regulatory Reason
        enum:
          - AC01
          - AC04
          - AC06
          - RC01
          - AG01
          - MD07
          - MS03
          - AG02
          - MS02
          - RR04
      returnDescription:
        type: string
        description: Description related to returnCode.